@using Proyecto1_Guaflix_1158116_1171316.Models;
@using Proyecto1_Guaflix_1158116_1171316.Models.Arbol_B;
@using Newtonsoft.Json;
@using System.IO;


@{
    List<string> listaTipo = new List<string>();
    List<string> listaNombre = new List<string>();
    List<string> listaAño = new List<string>();
    List<string> listaGenero = new List<string>();
    List<string> PeliculasMostrar = new List<string>();

    //Extrar Nombre de usuario Para crear la lista.
    #region
    string usuario = "";
    var location2 = @" C:\Proyecto1\UsuarioActual.txt";
    using (StreamReader leer = new StreamReader(location2))
    {
        int i = 0;
        while (!leer.EndOfStream)
        {
            string x = leer.ReadLine();
            usuario = (x);
            i++;
        }
    }
    #endregion

    if (System.IO.File.Exists(@" C:\Proyecto1\Peliculas.tree"))
    {
        List<string> JsonPeliculas = new List<string>();
        var location = @" C:\Proyecto1\Peliculas.tree";
        using (StreamReader leer = new StreamReader(location))
        {
            int i = 0;
            while (!leer.EndOfStream)
            {
                string x = leer.ReadLine();
                JsonPeliculas.Add(x);
                i++;
            }
        }
        //Desearializar json


        for (int i = 0; i < JsonPeliculas.Count; i++)
        {
            Peliculas peliculas = JsonConvert.DeserializeObject<Peliculas>(JsonPeliculas.ElementAt(i));
            listaTipo.Add(peliculas.Tipo);
            listaNombre.Add(peliculas.Nombre);
            listaAño.Add(peliculas.Tipo);
            listaGenero.Add(peliculas.Nombre);
            PeliculasMostrar.Add("Tipo: " + listaTipo.ElementAt(i) + ", Nombre: " + listaNombre.ElementAt(i) + ", Año: " + listaAño.ElementAt(i) + ", Genero: " + listaGenero.ElementAt(i));
        }

        ArbolB arbolB = new ArbolB(3);
        for (int i = 0; i < listaTipo.Count; i++)
        {
            arbolB.Insertar(PeliculasMostrar.ElementAt(i));
        }

    }
}

<h1>Catalogo Disponible para @usuario</h1>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th> Peliculas disponibles </th>
            </tr>
        </thead>


        <tbody>

            @foreach (var item in PeliculasMostrar)
            {

                <tr>
                    <td>
                        @item
                    </td>
                </tr>
            }

        </tbody>

    </table>

</div>


<h3></h3>
@Html.ActionLink("Crear mi lista de peliculas y series", "ListaPeliculasUsuario", "Peliculas", null, new { atributo = "valor3", @class = "btn btn-primary" })

<h3></h3>
@Html.ActionLink("Eliminar Pelicula de mi lista de peliculas y series", "EliminarPeliculaUsuario", "Peliculas", null, new { atributo = "valor3", @class = "btn btn-primary" })


<h3></h3>
@Html.ActionLink("Ver mi lista de peliculas y series", "ListaUsuario", "Peliculas", null, new { atributo = "valor3", @class = "btn btn-primary" })


<h3></h3>
@Html.ActionLink("Cerrar Sesion", "IniciarSesionGuaflix", "LogIn", null, new { atributo = "valor3", @class = "btn btn-primary" })







